<%- include layouts/header.ejs %>
<br>

<div class="container">
    <h1><%= title %></h1><br>
    <div>
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
            <div class="col-md-4">
                <img src="<%= producto[0].imagen %>" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><%= producto[0].titulo %></h5>
                    <p class="card-text"><%= producto[0].descripcion %></p>
                    <p class="card-text"><%= producto[0].precio %></p>
                    <a href="/compra/<%= producto[0].id %>" class="btn btn-outline-primary">Agregar Carrito</a>
                    <a href="/productos " class="btn btn-outline-danger">Atras</a>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>



<%- include layouts/footer.ejs %>
