<% include layouts/header.ejs %>
  <br>
  <div class="container">
    <h1><%= title %></h1><br>
    <div class="row">
      <% for(var i=0; i<productos.length; i++) { %>        
        <div class="col-sm-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= productos[i].titulo %></h5>
              <img src="<%=productos[i].imagen %>" class="card-img-top" alt="">
              <p class="card-text">
                <h5>$<%= productos[i].precio %></h5>
              </p>
              <a href="/compra/<%= productos[i].id %>" class="btn btn-outline-primary">Agregar Carrito</a>
              <a href="/detalle/<%= productos[i].id %>" class="btn btn-outline-info">Detalle</a>
            </div>
          </div>
        </div>
      <% } %>
    </div>
  </div>
<%- include layouts/footer.ejs %>
